<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            background-color: antiquewhite;
        }

        .main {
            background-color: azure;
            width: 100%;
        }

        .big {
            font-size: 50px;

        }

        .font {
            font-size: 1.5rem;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1 class="main">This is Home Page</h1>

    <h1 class="big">URL Shortner</h1>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:2222/url/<%= id %>
        </p>

        <% } %>
            <div>
                <form class="font" method="POST" action="/url">
                    <label for="">Enter your Orignal URL</label>
                    <input type="text" name="url" placeholder="http://example.com">
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>S. No</th>
                            <th>ShortID</th>
                            <th>Redirect</th>
                            <th>Clicks</th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url,index)=> { %>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= url.shortId %>
                                </td>
                                <td>
                                    <%= url.redirectURL %>
                                </td>
                                <td>
                                    <%= url.visitHistory.length %>
                                </td>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>